################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/taxi5.slnx
/taxi5/obj/Debug/taxi4.ClientOrderHistoryForm.resources
/taxi5/obj/Debug/taxi4.ClientOrderForm.resources
/taxi5/obj/Debug/taxi4.ClientPromotionForm.resources
/.vs/taxi5.slnx/v18/DocumentLayout.backup.json
/.vs/taxi5.slnx/v18/DocumentLayout.json
/taxi5/bin/Debug/taxi4.exe
